<div id="loginContainer">
    <div style="background-color: #16213e">
      <form class="form-signin">
        <img
          class="mb-4"
          src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg"
          alt=""
          width="72"
          height="72"
        />
        <h4 class="h4 mb-3 font-weight-normal">Password reminder</h4>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input
          type="email"
          id="inputEmail"
          class="form-control"
          placeholder="Email address"
          required=""
          autofocus=""
        />
 
  <br>
  <br>
     
        <button class="btn btn-lg btn-primary btn-block" type="submit">
          RESET MY PASSWORD
        </button>
        <div style="margin-top: 5%;">
           <a
              class="nav-link"
              [routerLink]="'/login'"
              ><strong>LOGIN</strong></a
            >
        </div>
        <p class="mt-5 mb-3 text-muted">© 2021-2021</p>
      </form>
    </div>
  </div>
  