.picsum-img-wrapper img {
  width: 100%;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.esuUhQ:hover {
  box-shadow: rgb(0 0 0 / 15%) 0px 1rem 2.5rem;
  transform: translateY(-2px);
  border: 2px solid rgb(255, 194, 15);
}

@media (max-width: 575.98px) {
}

@media (max-width: 767.98px) {
}

@media (max-width: 991.98px) {
}

@media (max-width: 1199.98px) {
  .row {
    overflow: auto;
    white-space: nowrap;
    display: block;
  }

  .card {
    display: inline-block;
  }

  .card-text {
    overflow-x: hidden;
  }

  #bscard {
    margin-left: 1.2%;
  }

  #rdcard {
    margin-right: 2% !important;
    margin-left: 1.2% !important;
  }
  #rech4{
    margin-top: 5%;
  }
  
}

#bscard {
  width: 10rem;
  margin-right: 2%;
  margin-top: 3%;
}

#rdcard {
  width: 10rem;
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 2%;
}




