/* You can add global styles to this file, and also import other style files */
a {
  color: #e94560;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #e65f76;
  background-color: transparent;
  text-decoration: underline;
}

body {
  background-color: #1a1a2e;
}

h2 {
  color: #e94560;
}
h3 {
  color: #e94560;
}
